@page
@model Webforum.Pages.CategoryOverviewModel
@using Microsoft.AspNetCore.Identity
@using Webforum.Areas.Identity.Data
@using Webforum.Areas.Identity.Data.Entites
@using Webforum.Gateways 
@inject SignInManager<WebforumUser> SignInManager
@inject UserManager<WebforumUser> UserManager
@inject DBGateway _DBGateway 
@{
    var user = await UserManager.GetUserAsync(User);
    List<PostThread> Threads = new List<PostThread>();
    List<Posts> Posts = new List<Posts>();
    Posts latestPost = new Posts();
}

<h2 class="h5">@Model.CatagoryName</h2>
<table class="table table-striped table-bordered">
    <thead class="thead-light">
        <tr>
            <th class="forum-col" scope="col">@Model.CatagoryName</th>
            <th scope="col">Trådar</th>
            <th scope="col">Inlägg</th>
            <th class="last-post-col" scope="col">Senaste inlägget</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var topic in Model.Topics)
        {
            Threads = topic.Threads.ToList();
            Posts = Threads.SelectMany(x => x.Posts).Where(x => x.deletedByAdmin == false).OrderByDescending(x => x.CreationDate).ToList();
            if(Posts.Count != 0)
                {
            latestPost = Posts.First();

                }

            <tr>
                <td>
                    <h3 class="h5"><a href="/TopicOverview?HeadLineID=@topic.Id">@topic.HeadLine</a></h3>
                    @if (Posts.Count != 0)
                    {
                        <p>@latestPost.Post</p>

                    }
                </td>
                <td>
                    @if (Threads.Count != 0)
                    {
                        <div>@Threads.Count</div>
                    }
                    else
                    {

                        <div>0</div>

                    }
                </td>

                <td>
                    @if (Posts.Count != 0)
                    {
                       

                        <div>@Posts.Count</div>

                       
                    }

                    else
                    {
                        <div>0</div>

                    }
                </td>

                <td>
                    
                    @if (Posts.Count != 0)
                    {
                        <h4 class="h6"><a href="#">@Threads.Where(x => x.Id == latestPost.PostThreadId).Select(x => x.Titel).FirstOrDefault()</a></h4>
                        <div>Författare: <a href="/Profile?UserID=@_DBGateway.FindUser(Posts.Where(x => x.Id == latestPost.Id).Select(x => x.WebforumUserId).FirstOrDefault()).Result.Id">@_DBGateway.FindUser(Posts.Where(x => x.Id == latestPost.Id).Select(x => x.WebforumUserId).FirstOrDefault()).Result.UserName </a></div>
                        <div>@Posts.Where(x => x.Id == latestPost.Id).Select(x => x.CreationDate).FirstOrDefault()</div>

                    }
                    else
                    {
                        <h4 class="h6"><a href="#"></a></h4>
                        <div>Författare: <a href="#"></a></div>
                        <div></div>
                    }
                </td>
                
            </tr>
        }
    </tbody>
</table>


@if (SignInManager.IsSignedIn(User))
{
    <button class="btn-addinput btn-primary btn-sm">Nytt ämne</button>
    <form method="post" id="JStxtinput" name="headlineinput">
        <input hidden name="userID" value="@user.Id" />




    </form>
}

<component type="typeof(HTMLComponents.SiteStatistics)" render-mode="ServerPrerendered" />