@page
@model Webforum.Pages.PostsModel
@using Microsoft.AspNetCore.Identity
@using Webforum.Areas.Identity.Data
@using Webforum.Gateways
@inject SignInManager<WebforumUser> SignInManager
@inject UserManager<WebforumUser> UserManager
@inject DBGateway _DBGateway 
@{
    var user = await UserManager.GetUserAsync(User);
}



@foreach (var post in Model.Posts.OrderBy(x => x.CreationDate))
{

    <table class="table table-striped table-bordered">
        <thead class="thead-light">
            <tr>
                <th class="topic-col" scope="col">Författare</th>
                <th scope="col">Inlägg</th>
            </tr>
        </thead>
        <tbody>
        <tbody>
            <tr>
                <td class="author-col">
                    <div>Av: <a>@_DBGateway.FindUser(post.WebforumUserId).Result.UserName</a></div>
                </td>
                <td class="post-col d-lg-flex justify-content-lg-between">
                    <div><span class="font-weight-bold">Ämne:</span> @Model.Thread</div>
                    <div><span class="font-weight-bold">Publicerat: </span>@post.CreationDate</div>
                </td>
            </tr>
            <tr>

                <td class="post-col">
                    <div><span class="font-weight-bold">Joined: </span><br />@_DBGateway.FindUser(post.WebforumUserId).Result.CreationDate</div>
                    <div><span class="font-weight-bold">Posts:</span><br />@_DBGateway.FindUser(post.WebforumUserId).Result.AmountOfPosts</div>
                </td>
                <td>
                    @if(post.ReportedPost == false)
                {
                    @post.Post
                    <form method="post" class="float-right">
                        <input hidden name="reportedPost" value="@post.Id" />
                        <button class="btn-danger btn-sm" type="submit">Anmäl inlägg</button>
                    </form>
                }
                    @if(post.ReportedPost == true && post.deletedByAdmin == false)
                {


                <div class="float-right"><p style="color:orangered;">Inlägget granskas efter anmälning...</p></div>
                }
                @if(post.deletedByAdmin == true)
                {
                    <div class="float-right"><p style="color:darkred;">Inlägget är borttaget sedan det anmälts.</p></div>
                }
                </td>
            </tr>
    </table>
}



@if (SignInManager.IsSignedIn(User))
{
    <form method="post" class="mb-3">
        <div class="form-group">
            <label for="comment">Nytt inlägg:</label>
            <textarea class="form-control" name="newInput" id="comment" rows="10"></textarea>
            <input hidden name="UserID" value="@user.Id" />
            <button type="submit" class="btn btn-primary m-3">Sänd</button>
        </div>
    </form>
}

<component type="typeof(HTMLComponents.SiteStatistics)" render-mode="ServerPrerendered" />




